{% extends "base.html" %}

{% macro form (form_name)-%}
    <div id="{{form_name.id_form}}" class="window">
        <img id="close" onclick="show('none', '{{form_name.id_form}}')" class="close" src="{{url_for('static', filename='images/cross.png')}}">
        <form action="" method="post">
        {{form_name.hidden_tag()}}
        {% for field in form_name if field.name not in ["csrf_token", "submit"] -%}
            {{field()}}
        {% endfor -%}
        {{ form_name.submit()}}
        </form>
    </div>
{% endmacro %}

{% block style_css %}
    <link type="text/css" href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/window.css')}}" rel="stylesheet" />
    {% if visible%}
        <style> #login_form {display: block}
                #gray {display: block}
        </style>
    {% endif%}
{% endblock%}
{% block title %}
    Справочник по магазинам
{% endblock %}
{% block content %}
    {% for form_name in forms%}
        {{form(form_name)}}
    {%endfor%}
    <div id="gray" class="gray"></div>
    <div class="main_frame">
        <div class="heading">
            <div>
                <h1>Спарвочник по магазинам</h1>
            </div>
            <div>
                <ul>
                    <li><input onclick="show('block','registration')" type="button" name="registration" value="Присоединиться"></li>
                    <li><input onclick="show('block', 'login_form')" type="button" name="login" value="Войти"></li>
                </ul>

            </div>
        </div>
        <div class="center">
            <span>Цель сервиса помочь водителю быстрей ориентироваться в незнакомых районах, снабдив его необходимой информацией о точках доставки, таких как: способ подъезда к магазину с схемой и фотографиями, категория подъезда (малый формат, тягач, прицеп), возможности оставления прицепа, перекатки, информация о ближайшем месте прицепа от точки назначения.
            </span>
            <div>
                <input onclick="show('block', 'search_form')" type="button" name="search" value="Найти ММ">
                <input onclick="show('block','registration')" type="button" name="registration" value="Присоединиться">
            </div>
        </div>
        <div class="footer">
            <p>&copy; Все права защищены.</p>
            <p>Связаться с нами: <a href="mailto:vivera83@yandex.ru" target="_blank">vivera83@yandex.ru</a></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    function show(state, forms) {
            document.getElementById(forms).style.display = state;
            document.getElementById('gray').style.display = state;
        }
{% endblock %}

